# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
.expo/

# dependencies
/node_modules

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

.idea/
.DS_Store

*.log
.coverage
ci/pipeline-secrets.yml
*.iml
local.properties
android/app/build/
android/app/release
android/build/
.gradle/
gradle-home

xcuserdata

*.xccheckout
*.xcuserstate
*.xcscmblueprint
ios/build
ios/fastlane-logs
ios/build-artifacts
ios/derived-data
ios/Pods/
fastlane/report.xml

android/gradle-home
google-play-android-developer.json

**/cucumber.json
.env
.env.release
.vscode
testConfig.js

config.js
*.keystore
